@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

.contenedor-mayor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 200px;
  padding: 5px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
}

img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px #000;
  transition: all 0.5s;
  object-fit: cover; 
}

h1{
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 80%;
  padding: 5px;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
}