.contenedorTitulo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
    color:green
}

.pizarra{
    border: 1px solid black;
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
}


.contenedorOperario{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px auto;
    border: 1px solid black;
    width: 25%;
    height: auto;
    box-sizing: border-box;

}

p {
    margin-left: 3px;
}

.foto {

    width: 200px;
    height: 200px;
    margin-bottom: 3vh;
    

}

